<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-header bg-info">
                لیست مدیران
            </div>
            <div class="card-body">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">نام و نام خانوادگی</th>
                            <th scope="col">شماره موبایل</th>
                            <th scope="col">عملیات</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>
                                <a href="#" class="btn-link">فراموشی رمز عبور</a>
                                <hr class="m-0 mb-1 mt-1" />
                                <a href="#" class="btn-link">بلاک</a>
                                <hr class="m-0 mb-1 mb-1" />
                                <a href="#" class="btn-link">حذف</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card">
            <div class="card-header bg-warning">
                افزودن مدیر جدید
            </div>
            <div class="card-body">
                <form>
                    <div class="row BKoodakBold">
                        <div class="col">
                            <input type="text" class="form-control" placeholder="نام">
                        </div>
                        <div class="col">
                            <input type="text" class="form-control" placeholder="نام خانوادگی">
                        </div>
                        <div class="col">
                            <input type="text" class="form-control" placeholder="کد ملی">
                        </div>
                    </div>
                    <hr />
                    <div class="row BKoodakBold">
                        <div class="col">
                            <input dir="ltr" type="text" class="form-control text-center" placeholder="شماره تماس">
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col">
                            <input type="text" class="form-control" placeholder="گذرواژه">
                        </div>
                        <div class="col">
                            <input type="text" class="form-control" placeholder="تایید گذرواژه">
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col">
                            <input type="button" class="btn btn-success BKoodakBold" value="افزودن مدیر">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
