<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-header text-white text-center BTitrBold">
                <h5 title="برای افزودن فروشگاه جدید از فرم زیر استفاده کنید" data-toggle="tooltip" data-placement="right" class="text-center BTitrBold mb-0">
                    .:: اطلاعات فروشگاه ::.
                </h5>
            </div>
            <div class="card-body">
                <form name="add_seller">
                    <div class="row BKoodakBold">
                        <div class="col">
                            <input ng-class="{ 'is-invalid' :  add_provider.pfirst_name.$invalid && add_provider.pfirst_name.$dirty , 'is-valid': add_provider.pfirst_name.$valid}" name="pfirst_name" ng-model="pfirst_name" type="text" class="form-control" placeholder="نام" required>
                        </div>
                        <div class="col">
                            <input ng-class="{ 'is-invalid' :  add_provider.plast_name.$invalid && add_provider.plast_name.$dirty , 'is-valid': add_provider.plast_name.$valid}" name="plast_name" ng-model="plast_name" type="text" class="form-control" placeholder="نام مدیر" required>
                        </div>
                    </div>
                    <hr />
                    <div class="row BKoodakBold">
                        <div class="col">
                            <input mask="9999999999" ng-class="{ 'is-invalid' :  add_provider.pnational_code.$invalid && add_provider.pnational_code.$dirty , 'is-valid': add_provider.pnational_code.$valid}" name="pnational_code" ng-model="pnational_code" dir="ltr" type="text" class="form-control" placeholder="کد ملی" required>
                        </div>
                        <div class="col">
                            <select ng-init="pgender='زن'" ng-model="pgender" class="form-control">
                                <option selected>زن</option>
                                <option>مرد</option>
                            </select>
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col">
                            <input mask="09999999999" ng-class="{ 'is-invalid' :  add_provider.pphone_number.$invalid && add_provider.pphone_number.$dirty , 'is-valid': add_provider.pphone_number.$valid}" name="pphone_number" ng-model="pphone_number" dir="ltr" type="text" class="form-control" placeholder="09*********" required>
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col">
                            <div dir="ltr" class="input-group">
                                <div class="input-group-prepend">
                                    <button ng-click="pmakepassword()" class="btn btn-outline-info" type="button" id="button-addon1">بساز</button>
                                </div>
                                <input ng-class="{ 'is-invalid' :  add_provider.ppass_word.$invalid && add_provider.ppass_word.$dirty , 'is-valid': add_provider.ppass_word.$valid}" name="spass_word" dir="ltr" ng-model="ppass_word" type="text" class="form-control" placeholder="گذرواژه" required>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col">
                            <button dir="rtl" ng-click="Add_Provider()" class="btn btn-outline-success btn-block mx-auto">
                                فروشگاه جدید رو اضاف کن !
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col">
        <img class="img-fluid mx-auto" src="~/Content/img/panel_providers2.png" />
        <hr />
        <div class="jumbotron text-center">
            <h1 class="display-4">یه مرکز جدید ؟!</h1>
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        <hr />
        <h5 class="text-center BTitrBold">
            .:: لیست فروشگاه ها ::.
        </h5>
        <input ng-model="search_provider" class="form-control mt-3 text-center" />
        <table class="table table-hover table-bordered table-striped mt-3">
            <thead>
                <tr class="text-center">
                    <th scope="col">#</th>
                    <th scope="col">نام</th>
                    <th scope="col">نام مدیر</th>
                    <th scope="col">شماره موبایل</th>
                    <th scope="col">عملیات</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="provider in providerslist | filter : search_provider">
                    <th scope="row">{{$index+1}}</th>
                    <td>{{provider.first_name}}</td>
                    <td>{{provider.last_name}}</td>
                    <td class="text-left">{{provider.PhoneNumber}}</td>
                    <td class="text-center">
                        <div dir="ltr" class="btn-group btn-group-sm" role="group">
                            <button title="بازیابی رمز عبور" data-toggle="tooltip" data-placement="top" type="button" class="btn btn-secondary">
                                <i class="fas fa-key"></i>
                            </button>
                            <button title="بلاک کردن" data-toggle="tooltip" data-placement="top" type="button" class="btn btn-danger">
                                <i class="fas fa-ban"></i>
                            </button>
                            <button title="حذف کردن" data-toggle="tooltip" data-placement="top" type="button" class="btn btn-warning">
                                <i class="fas fa-trash"></i>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
