
<div class="container">
    <div dir="rtl" class="col shadow p-4 text-right">
        <h3>
            درباره ما
        </h3>
        <hr />
        <p>
            دوست  دارید  یک  سفر آرام ، راحت و مطمئن داشته باشید ؟
        </p>
        <br />
        <p>
            ما  به شما کمک می کنیم که اوقات فراغت خود را به بهترین نحو سپری کنید.
            ما بهترین سفرها در کمترین زمان برای شما برنامه ریزی می کنیم .
            ما در کلاسیک تور یک راه ساده و سریع برای دستیابی به چنین مسافرتی با قیمتی بسیار مناسب را در اختیار شما قرار می دهیم .
            برای یک ایرانگردی بی نظیر، کلاسیک تور را از دست ندهید. با کلاسیک تور شما می توانید به بکر ترین مناطق ایران سفر کنید ، میزبان اختصاصی شما در آنجا منتظر شماست.
            در هیچ شهریا روستا در هر نقطه ای از ایران شما تنها نیستید ، کلاسیک تور کنار شماست .
            مجموعه ی بزرگ ما در همه ی نقاط ایران در خدمت شما خواهند بود.
            ایرانگردی با کلاسیک تور بسیار ساده و دست یافتنی خواهد بود .
            فقط کافیست مبدا و مقصدتان را مشخص کرده  تا ما بهترین مسیر را برایتان مشخص کرده و همه ی سرویس های کلاسیک تور شما را از مبدا تا مقصد همراهی کنند.
            به وسیله پرداخت آنلاین و اعتباری دیگر نیازی به پول نقد نیست و شما به راحتی میتوانید هزینه سفر خود را از طریق کارت اعتباری و افزایش اعتبار حساب کاربری خود پرداخت کنید.
            در هر شهری که قصد اقامت دارید میزبان شما به استقبال شما می آید و شما دغدغه هیچ جیزی را نخواهید داشت ، همه ی کار ها را به ما بسپارید ، محل اسکان ، گشت ، انواع غذاهای محلی و..... شما فقط از مسافرت لذت ببرید.
            ما در کلاسیک تور با پشتیبانی ۲۴ ساعته حتی در روزهای تعطیل هم شما را تنها نخواهیم گذاشت و تمامی سوالاتتان در سریعترین زمان ممکن پاسخ خواهیم داد.
            کلاسیک تور تجربه ی یک سفر راحت و متفاوت
        </p>
    </div>
</div>



