
<div class="container">
    <div dir="rtl" class="col shadow p-4 text-right">
        <h3>
            قوانین و مقررات
        </h3>
        <hr />
        <p>
            تمامی کاربرانی که از امکانات و مطالب وب سایت کلاسیک تور استفاده می کنند  قوانین و مقررات زیر را پذیرفته و مکلف به پیروی از آنها می باشند و هر گونه استفاده از این امکانات به معنای آگاه بودن کاربر از قوانین کلاسیک تورو نحوه استفاده از خدمات آن  می باشد و این قوانین ممکن است در هر زمان به روز رسانی گردد و ملاک آخرین به روز رسانی می باشد کاربر موظف است قوانین و مقررات را به طور مرتب بررسی کند و از همه بندهای آن مطلع شود.
        </p>
        <br />
        <h3>
            قوانین کلاسیک تور :
        </h3>
        <hr />
        <ul class="text-justify list-unstyled">
            <li>
                ۱ـ  کلاسیک تورمنطبق با قوانین جمهوری اسلامی ، قانون تجارت الکترونیک و قانون حمایت از حقوق مصرف کننده است و متعاقبا کاربر نیز موظف به رعایت قوانین مرتبط می باشد . بنابراین همه ی کاربران اعم از میزبان ، مهمان ، تور لیدر ، مسافر  و.... متعهد میشوند در همه مراحل رزرو ، اقامت ، اجرای تور و .... تابع قوانین جمهوری اسلامی ایران باشند .
            </li>
            <li>
                ۲ـ کلاسیک توریک محیط جهت ارتباط میزبانان و میهمانان می باشد و جهت ارائه خدمات مناسب و اطمینان بخش برای میهمانان و میزبانان می باشد ، واریز مبالغ رزرو اقامتگاه و تور بعد از مستقر شدن میهمان در اقامتگاه  و بعد از حرکت  تور انجام میپذیرد
            </li>
            <li>
                ۳ـ میزبان متعهد میشود کلیه اطلاعات اقامتگاه و تور را با صداقت کامل به ثبت برساند. مسئولیت ناشی از ارائه اطلاعات غلط، ناقص یا غلو شده با میزبان است. در صورتی که کلاسیک تور تشخیص دهد اطلاعات اقامتگاه ناقص است یا در صحت اطلاعات تردید کند، میتواند تا سقف هزینه رزرو اقامتگاه، میزبان را جریمه کند
            </li>
            <li>
                4-  میزبان میپذیرد هرگونه تغییر در جزییات رزرو را با هماهنگی سامانه کلاسیک تورانجام دهد
            </li>
            <li>
                5-   میهمان متعهد است ، از اقامتگاه و کلیه امکانات فراهم شده به شکل  صحیحی استفاده نماید و در صورتی که در زمان اقامت، به اقامتگاه یا وسایل رفاهی و یا امکانات فراهم شده صدمهای وارد شود، مسئولیت آن با میهمان خواهد بود.
            </li>
            <li>
                6- میهمان موظف است در ساعات مقرر شده به اقامتگاه وارد شود و نیز در موعد مقرر، اقامتگاه را به میزبان تحویل دهد، همچنین راس ساعت مقرر برای حرکت تور در محل حضور داشته باشد.
            </li>
            <li>
                7-  میهمان موظف است هنگام ورود به اقامتگاه یا شرکت در تور  مدارک شناسایی خود را به همراه داشته باشد. این مدارک باید با اطلاعات ثبت شده هنگام رزرو همخوانی داشته باشد. در غیر این صورت میزبان میتواند از پذیرش میهمان خودداری کند
            </li>
            <li>
                8-  میهمان متعهد میشود در طول مدت اقامت و یا اجرای تور  به کلیه قوانینی که از طرف میزبان وضع شده است و یا توسط مجری تور بیان می شود ، پایبند باشد.
            </li>
            <li>
                9-  در صورتی که در مدت زمان اقامت میهمان در یک اقامتگاه، عملی خلاف قوانین جمهوری اسلامی ایران انجام شود، مسئولیت آن با میهمان یا فردی است که مرتکب جرم شده است. میهمان میپذیرد که کلاسیک تور تعهد یا مسئولیتی در این زمینه ندارد
            </li>
            <li>
                10-  میهمان میپذیرد که پرداخت مبلغ رزرو به منزله قطعی شدن رزرو نیست. تنها پس از تایید نهایی رزرو و اطلاعات میهمان، رزرو قطعی تلقی خواهد شد و در غیر این صورت مبلغ واریز شده توسط میهمان طی ۲۴ ساعت عودت داده خواهد شد
            </li>
            <li>
                11-  میهمان میپذیرد هرگونه تغییر در جزییات رزرو را با هماهنگی سامانه کلاسیک تور انجام دهد
            </li>
            <li>
                12- هر میهمان میتواند حداکثر تا دو ساعت بعد از دریافت خدمت هرگونه انتقاد یا پیشنهاد خود را در مورد شرایط برگزاری تور یا محل اقامت بصورت تلفنی به منظور ارجاع به بخش داوری اعلام نماید و پس از آن هیچ ترتیب اثری داده نخواهد شد.
            </li>
            <li>
                13-  میهمان میپذیرد که پذیرش بیشتر از ظرفیت تعیین شده در رزرو، خلاف قوانین است. بنابراین متعهد میشود هنگام ورود به اقامتگاه، از همراه داشتن افراد اضافه خودداری کند. در غیر این صورت ممکن است رزرو بدون اطلاع قبلی لغو شده و دسترسی میهمان به سامانه کلاسیک تورقطع شود
            </li>
        </ul>
    </div>
</div>


